<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog分类管理</title>
    <th:block th:replace="admin/_fragments :: csslink"></th:block>
</head>
<body>
<!--导航-->
<nav th:replace="admin/_fragments ::menu(2)"></nav>
<!--choose-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/types}" class="item active orange">列表</a>
            <a href="#" th:href="@{/admin/types/input}" class="item">新增</a>
        </div>
    </div>

</div>
<!--中间内容-->
<div class="base-container-small base-padded-tb-large animated fadeIn">
    <div class="ui container">
        <div class="ui warning message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">恭喜，操作成功！</p>
        </div>
        <!--表格-->
        <table class="ui table orange compact celled">
            <thead class="center aligned">
            <tr>
                <th>id</th>
                <th>分类名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody class="center aligned">
            <tr th:each="type : ${pageInfo.list}">
                <td th:text="${type.id}">1</td>
                <td th:text="${type.name}">分类名称</td>
                <td>
                    <a href="#" th:href="@{/admin/types/{id}/input(id=${type.id})}" class="ui mini basic green button">编辑</a>
                    <a href="#" th:href="@{/admin/types/{id}/delete(id=${type.id})}" class="ui mini basic red button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    <div class="ui segment base-inline-block">
                        <p>当前第<span th:text="${pageInfo.pageNum}"></span>页，总共<span th:text="${pageInfo.pages}"></span>页，共<span th:text="${pageInfo.total}"></span>条记录</p>
                    </div>
                    <div class="ui pagination menu right floated">
                        <a class="item" href="#" th:href="@{/admin/types}">首页</a>
                        <a class="item" href="#" th:href="@{/admin/types(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
                        <a class="item" href="#" th:href="@{/admin/types(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:1)}">下一页</a>
                        <a class="item" href="#" th:href="@{/admin/types(pageNum=${pageInfo.pages})}">尾页</a>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<!--底部footer-->
<footer th:replace="admin/_fragments ::footer"></footer>

<th:block th:replace="admin/_fragments ::script"></th:block>
<script type="text/javascript">
    $('.menu.toggle').click(function () {
        $('.base-item').toggleClass('base-mobile-hidden');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
    //消息提示关闭初始化
    $('.message .close').on('click',function () {
        $(this).closest('.message').transition('fade');
    });
</script>
</body>
</html>